[Unit]
Description=IceLaborVPN Blocklist Update - Blocklist.de
After=icelabor-blocklist-init.service
Requires=icelabor-blocklist-init.service

[Service]
Type=oneshot
ExecStart=/opt/IceLaborVPN/scripts/update-blocklists.sh --feed blocklist_de
TimeoutStartSec=120
