[Unit]
Description=IceLaborVPN Blocklist Update - AbuseIPDB
After=icelabor-blocklist-init.service
Requires=icelabor-blocklist-init.service

[Service]
Type=oneshot
ExecStart=/opt/IceLaborVPN/scripts/update-blocklists.sh --feed abuseipdb
TimeoutStartSec=120
