[Unit]
Description=Update Tor exit node blocklist every 6 hours

[Timer]
OnBootSec=6min
OnUnitActiveSec=6h
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
