[Unit]
Description=Update Emerging Threats blocklist every 24 hours

[Timer]
OnBootSec=7min
OnUnitActiveSec=24h
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
